._*
*.mode1v3
*.pbxuser
*.perspectivev3
*.user
*.ncb
*.suo
*.ilk
*.pch
*.pdb
*.dep
*.idb
*.manifest
*.manifest.res
*.o
*.d
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
xcuserdata
*.xccheckout
*.xcscmblueprint
contents.xcworkspacedata
.DS_Store
.svn
profile
**/MacOSX/build
**/iOS/build
**/VisualStudio2022
**/Android/bin
**/Android/libs
**/Android/gen
**/Android/obj
**/CodeBlocks/bin
**/CodeBlocks/obj
**/CodeBlocks/*.depend
**/CodeBlocks/*.layout
**/Builds/AndroidStudio
doxygen/doc
extras/Projucer/JUCECompileEngine.dylib
Binaries/
Builds/LinuxMakeFile/build

travis_enc.txt
site/

Builds/CodeBlocksLinux/*\.cbp

Builds/VisualStudio2017/\.vs/
Builds/VisualStudio2019/\.vs/
Builds/VisualStudio2019/packages/
Builds/VisualStudio2017_Win7/

*.exe

*.AppImage

.vscode

