._*
*.mode1v3
*.pbxuser
*.perspectivev3
*.user
*.ncb
*.suo
*.ilk
*.pch
*.pdb
*.dep
*.idb
*.manifest
*.manifest.res
*.o
*.d
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
xcuserdata
*.xccheckout
*.xcscmblueprint
contents.xcworkspacedata
.DS_Store
.svn
profile
**/MacOSX/build
**/iOS/build
**/VisualStudio2005/Debug
**/VisualStudio2005/Release
**/VisualStudio2008/Debug
**/VisualStudio2008/Release
**/VisualStudio2010/Debug
**/VisualStudio2010/Release
**/VisualStudio2012/Debug
**/VisualStudio2012/Release
**/VisualStudio2013/Debug
**/VisualStudio2013/Release
**/VisualStudio2013/x64
**/VisualStudio2015/Debug
**/VisualStudio2015/Release
**/VisualStudio2015/x64
**/VisualStudio2017/x64
**/Android/bin
**/Android/libs
**/Android/gen
**/Android/obj
**/CodeBlocks/bin
**/CodeBlocks/obj
**/CodeBlocks/*.depend
**/CodeBlocks/*.layout
**/Builds/AndroidStudio
doxygen/doc
extras/Projucer/JUCECompileEngine.dylib
Builds/VisualStudio2015/Flap.vcxproj
Builds/VisualStudio2015/Flap.vcxproj.filters
Builds/VisualStudio2015/icon.ico
Builds/VisualStudio2015/resources.rc
Builds/VisualStudio2015/Flap.sln
Builds/VisualStudio2015/
Binaries/App/Chataigne-x64_Debug.exe
Binaries/
Builds/LinuxMakeFile/build
travis_enc.txt
site/

Builds/CodeBlocksLinux/Chataigne\.cbp

Builds/VisualStudio2017/\.vs/

Builds/VisualStudio2017/Presets/Main/URG-LiDAR/_temp\.pst

Builds/VisualStudio2017/Presets/Main/URG-LiDAR/15-2-2018_13-12-5\.pst
Chataigne-win-x64-bleedingedge\.exe
