[Desktop Entry]
Name=Chataigne
Exec=Chataigne
Icon=chataigne
Type=Application
Categories=AudioVideo;Art;
Comment=Artist friendly Modular Machine for Art and Technology
Comment[fr]=Machine modulaire pour l'art et la technologie, adaptée aux artistes
MimeType=text/chataigne;
Name[en]=Chataigne
Terminal=false
StartupNotify=true
NoDisplay=false
Name[en_US]=Chataigne
